

h1{

text-align: center;
color: brown;

}
body{
  background-image:url(image/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center ;
 
}


.navbar ul{
list-style-type: none;
background-color:burlywood;
padding: 0%;
margin: 0%;
}

.navbar a{
  color:brown;
  text-decoration: none;
  display: block;
  padding: 15px;
  text-align: center;
}
